.otherActive~._28r-{pointer-events:auto}
.fbPhotoSnowliftContainer .uiTypeaheadView .hintText{display:none}
._agk{margin-right:3px;max-height:16px;max-width:16px;vertical-align:-2.9px}
.sp_oURQYtOTD0k{background-image:url(/rsrc.php/v3/yS/r/2I05DOC8Pgg.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_oURQYtOTD0k.sx_c626dc{background-position:0 0}.sp_oURQYtOTD0k.sx_38aba4{background-position:0 -17px}

#bootloader_cILNy{height:42px;}.bootloader_cILNy{display:block!important;}