._56hv,._56hy{display:none}
._3xd6 ._4qeb{border-radius:none}._3xd6 ._3xdb{padding-top:9px}._3xd6 ._3xd8{margin-right:8px;position:relative}._3xd6 ._3xd8 .img{opacity:.4}._3xd6 ._3xd9{position:absolute;right:5px;top:10px}._16bi{padding:13px 0}._16bh{color:rgba(153, 153, 153, 1);font-size:13px;height:34px;line-height:1.4;text-align:center}

#bootloader_RlgzE{height:42px;}.bootloader_RlgzE{display:block!important;}