header {
    padding-bottom: $size3;
    h1 {
        text-align: center;
        padding-top: $size4;
        padding-bottom: $size1;
    }
    p {
        text-align: center;
        font-size: $size0;
    }    
    nav {
        text-align: center;
        position: fixed;
        top: 0;
        right: calc(2rem - 100%);
        height: 100%;
        width: 100%;
        padding: $size1;
        label {
            width: $size2;
            height: $size2;
            position: relative;
            float: left;
            cursor: pointer;
            font-size: $size2;
        }
        a {
            font-size: $size1;
            padding-bottom: $size1;
            display: block;
            text-align: left;
        }
        ul {
            display: block;
            margin-top: $size3;
            margin-left: $size4;
        }
        #cb-menu {
            width: 0px;
            height: 0px;
        }
        .menu-icon {
            transition: transform 0.6s, rotate 0.4s;
            transition-timing-function: ease-in, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
        }
        .menu-icon:hover {
            transform: scale(1.1) rotate(180deg);
            transition: transform 0.6s, rotate 0.4s;
            transition-timing-function: ease-in, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
        }
    }
    .menu-closed {
        transition: transform 0.5s, background-color 1s;
        transition-timing-function: ease-in, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
        background-color: transparent;
        ul {
            transition: 1s;
            opacity: 0;
        }
    }
    .menu-opened {
        transition: transform 1s, background-color 0.5s;
        transition-timing-function: ease-in, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
        transform: translateX(-60%);
        background-color: lighten($black, 2%);
        width: 100%;
        height: 100%;
        ul {
            transition: opacity 1s, transform 0.5s;
            transform: translateX(-4rem);
            opacity: 1;
        }
        a.active {
            color: $yellow;
            transition: 4s color;
        }
    }
}

@media (min-width: 60rem) {
    header {
        nav {
            right: calc(-50% + -28rem);
        }
    }
}
