.element-invisible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: 'Cambo', serif;
    -moz-font-feature-settings: "calt=1", "clig=1", "dlig=1", "kern=1", "liga=1", "salt=1";
    -moz-font-feature-settings: "calt" 1, "clig" 1, "dlig" 1, "kern" 1, "liga" 1, "salt" 1;
    -webkit-font-feature-settings: "calt" 1, "clig" 1, "dlig" 1, "kern" 1, "liga" 1, "salt" 1;
    -ms-font-feature-settings: "calt=1", "clig=1", "dlig=1", "kern=1", "liga=1", "salt=1";
    -o-font-feature-settings: "calt" 1, "clig" 1, "dlig" 1, "kern" 1, "liga" 1, "salt" 1;
    font-feature-settings: "calt" 1, "clig" 1, "dlig" 1, "kern" 1, "liga" 1, "salt" 1;
    color: $white;
    text-decoration: none;
}

a:hover {
    color: $yellow;
    transition: 0.5s color;
}

body {
    background-color: #1E2019;
    color: #D3D0CB;
    padding: 0 $size1 $size2 $size0;
    margin: 0 auto;
    max-width: 60rem;
}

h1 {
    font-size: $size3;
}

p {
    font-size: $size1;
    line-height: $size2;
}

mark {
    color: $yellow;
    background-color: transparent;
}

main {
    p {
        max-width: $pageMaxWidth;
    }
}

.post {
    p:first-of-type::first-letter {
        font-size: ($size2 * 2) + $size-3;
        color: $yellow;
        float: left;
        line-height: 0.8;
        padding-top: 0.3rem;
    }
}