body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: 'Cambo', serif;
    -moz-font-feature-settings: "calt=1", "clig=1", "dlig=1", "kern=1", "liga=1", "salt=1";
    -moz-font-feature-settings: "calt" 1, "clig" 1, "dlig" 1, "kern" 1, "liga" 1, "salt" 1;
    -webkit-font-feature-settings: "calt" 1, "clig" 1, "dlig" 1, "kern" 1, "liga" 1, "salt" 1;
    -ms-font-feature-settings: "calt=1", "clig=1", "dlig=1", "kern=1", "liga=1", "salt=1";
    -o-font-feature-settings: "calt" 1, "clig" 1, "dlig" 1, "kern" 1, "liga" 1, "salt" 1;
    font-feature-settings: "calt" 1, "clig" 1, "dlig" 1, "kern" 1, "liga" 1, "salt" 1;
    color: $white;
    text-decoration: none;
}

a:hover {
    color: $yellow;
    transition: 0.5s color;
}

h1 {
    font-size: $size3;
}

p {
    font-size: $size1;
    line-height: $size2;
}

mark {
    color: $yellow;
    background-color: transparent;
}

main {
    p {
        max-width: $pageMaxWidth;
    }
}

.post, .welcome {
    p:first-of-type::first-letter {
        font-size: ($size2 * 2) + $size-3;
        color: $yellow;
        float: left;
        line-height: 0.8;
        padding-top: 0.3rem;
    }
}