.post-list {
    a {
        text-decoration: none;
        padding-top: $size1;
        padding-bottom: $size2;
        display: block;
        margin-left: (-1 * $size1);
        margin-right: (-1 * $size1);
        padding-left: $size1;
        padding-right: $size1;
    }
    a:hover {
        background-color: lighten($black, 2%) !important;
        header {
            color: $yellow;
        }
    }
    header {
        padding-bottom: 0;
        font-size: $size2;
        color: $white;
        time {
            font-size: $size0;
            font-style: italic;
            color: $blue;
            width: 100%;
            display: block;
        }
    }
    p {
        font-size: $size0;
        color: $white;
    }
}